body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/*
  login/register form
*/
form div {
  margin: 1em;
  display: inline-block;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.box-container {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 0px 6px 1px #928f8f;
  margin: 1em;
  max-width: 500px;
}

/* Portfolio */

/* ListAssets */

.asset-listing {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
}

@media only screen and (min-width: 600px) {
  #navbar {
    display: flex;
    justify-content: flex-end;
  }
  .portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .portfolio-container > div {
    flex-grow: 1;
  }
}
